* {
    font-family: palatino
}

.app {
    padding: 15px
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.heading {
    display: flex;
    padding: 10px;
    vertical-align: middle;
}

.heading-item {
    align-items: center;
    display: block;
}


footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: gray;
    color: white;
    text-align: center;
}
